.footer {
  background-color: #2C2B2B;
  text-align: center;
  padding: 60px;
}

.footer a {
  font-size: 30px;
  color: #1CDD87;
  margin: 0 5px;
}

.footer p {
  color: #666666;
}

.footer .fa-solid {
  color: #BF0F12;
  font-size: 20px;
}
